{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'design.css' %}">
</head>
<body>
    <h1><i>HOODIES</i></h1>
    {% for x in malumot %}
        <h3>{{ x.typee }}</h3>
        <img src="{{ x.quality }}" alt="" style="width: 400px;">
        <p class="price">{{ x.price }}</p>
        <p class="connect">{{ x.picture }}</p>
    {% endfor %}

    <img src="{% static 'img/hoodie2.jpg'  %}" alt=""> 


</body>
</html>